<nav>
<header class="flex-container">
        <div class="logo-box flex-item flex-text-centered flex-bordered">
            <img class="mw-100" src="img/logo.png" alt="Elayna's Logo"/>
        </div>
        <nav>
            <ul>
                <li><a href="#type">Type</a></li>
                <li><a href="#text">Text+Images</a></li>
                <li><a href="#colors">Colors</a></li>
                <li><a href="#widgets">Widgets</a></li>
            </ul>
        </nav>
    </header>
</nav>
